body {
    --main-dark-color: rgb(14, 14, 16);
    --main-lightish-color: rgb(30, 30, 30);
    --main-lighter-color: rgb(20, 20, 22);
    --main-lighter-color-accent: rgb(31, 17, 39);
    --main-light-color: rgb(41, 41, 47);
    --main-border-color: #00000000;

    --button-color: rgb(40, 40, 44);
    --button-color-active: rgb(76, 76, 81);

    --scrollbar-thumb-color: #585858;

    --stream-element-text: #dbdbdb;
    --stream-tags-background: #363636;
    --stream-tags-border: #ffffff00;

    --color-white: rgb(239, 239, 241);
    --faded-white: rgb(255 255 255 / 40%);
    --white-60: hsl(0deg 0% 60%);

    --twitch: #6441a5;
}

