@import "../../../variables"

.vodLine
  width: 100%
  background: linear-gradient(180deg, #222222 0%, rgb(15 15 15 / 50%) 100%)
  padding: 4px 7px 7px 7px
  font-size: 0
  box-sizing: border-box
  overflow: hidden

  .title
    display: inline-block
    font-size: 14px
    font-weight: bold
    color: $faded-white
    margin-bottom: 5px
    padding-left: 5px

  .line
    white-space: nowrap
    width: 100%
    text-align: center

    .vod
      margin: 0 5px 0 0
      width: 119px
      height: 67px
