@import "variables"

@font-face
  font-family: "Inter"
  font-style: normal
  font-weight: 400
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Regular.ttf")

@font-face
  font-family: "Inter"
  font-style: bold
  font-weight: 700
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-SemiBold.ttf")

html, body, #root
  min-width: 400px
  width: 100%
  min-height: 600px
  height: 100%
  margin: 0
  padding: 0
  font-family: 'Inter', sans-serif
